@page "/"
@using BlazingSite.Data.Interfaces
@using BlazingSite.Data.PostSection
@using BlazingSite.Data.CategorySection
@using System.Linq 
@inject ICategoryService categoryService
@inject IPostService postService

@if (Id != null)
{
    <div>
        <PostPage Id="Id"></PostPage>
    </div>
}
else
{
    <div>
        <p>Latest post not found?</p>
    </div>
}


@code {
    [Parameter]
    public virtual int? Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Id = await postService.GetLastAsync();

        await base.OnParametersSetAsync();
    }
}
